:root {
    --mobile-bp: 768px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    text-decoration: underline;
}

main {
    height: 100vh;
    overflow: auto;
}

.page-section {
    display: none;
    padding-block: 4rem 2rem;
}
.page-section.current {
    display: block !important;
}
.page-section > * {
    margin-inline: auto;
    max-width: 35rem;
}
.page-section > pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 85ch;
}
.page-section > aside {
    background-color: lightblue;
    border-radius: 0.5rem;
    padding: 1rem;
}
.page-section > aside :last-child {
    margin-bottom: 0;
}

code {
    border-radius: 0.5rem;
}
code.command {
    background-color: #23241f;
    color: white;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
    white-space: nowrap;
}

@media screen and (min-width: 768px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-columns: clamp(15rem, 20%, 25rem) 1fr;
    }

    header.main-header {
        display: flex;
        flex-direction: column;
    }
    
    nav.navbar {
        position: unset;
        align-items: flex-start;
        flex-grow: 1;
    }

    ul.navbar-nav {
        flex-direction: column !important;
    }

    .page-section {
        padding-block: 2rem;
    }
}