:root {
    --mobile-bp: 768px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

main {
    height: 100vh;
    overflow: auto;
}

.page-section {
    display: none;
    padding-top: 4rem;
}
.page-section.current {
    display: block !important;
}
.page-section > * {
    margin-inline: auto;
    max-width: 35rem;
}
.page-section > pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 85ch;
}

@media screen and (min-width: 768px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-columns: clamp(15rem, 20%, 25rem) 1fr;
    }

    header.main-header {
        display: flex;
        flex-direction: column;
    }
    
    nav.navbar {
        position: unset;
        align-items: flex-start;
        flex-grow: 1;
    }

    ul.navbar-nav {
        flex-direction: column !important;
    }

    .page-section {
        padding-top: 1rem;
    }
}